*{
    margin: 0;
    padding: 0;
}



.checked{
    color: orange;
}
.fa-color{
    color:orange;
}
.container{

    width: 800px;
    /* height: 400px; */
    margin: 20px auto;
    position: relative;
  
  
}
h1{
    
 text-align: center;   
}